:root {
  --first-color: #000000;
  --second-color: #595959;
  --third-color: #ffffff;
  --fourth-color: #fb6d3a;

  --first-background-color: #e5e5e5;
  --second-background-color: #ffffff;
  --third-background-color: #1e2939;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: var(--first-color);
  background-color: var(--first-background-color);
  padding-top: 15px;
  padding-bottom: 15px;
}

.container {
  display: flex;
  width: 1200px;
  margin: 0 auto;
  background: var(--second-background-color);
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

img {
  display: block;
  min-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Content */

.left-side {
  padding: 40px;
  background-color: var(--third-background-color);
}

.hero-photo {
  border-radius: 50%;
  width: 370px;
}

.contacts-title,
.tech-title,
.soft-title,
.languages-title {
  margin-top: 50px;
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 22px;
  line-height: 1.23;
  color: var(--third-color);
}

.contacts-item {
  margin-top: 10px;
  color: var(--second-color);
}

.tech-item,
.soft-item,
.languages-item {
  margin-top: 10px;
  margin-left: 15px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--fourth-color);
  opacity: 0.5;
}

.contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--third-color);
  opacity: 0.5;
}

.item-text {
  color: var(--third-color);
}

.right-side {
  padding: 95px 85px;
}

.hero-title,
.hero-position,
.projects-title,
.work-title,
.education-title {
  text-align: center;
}

.hero-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 1.22;
}

.hero-position,
.projects-title,
.work-title,
.education-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.22;
}

.hero-position {
  margin-top: 20px;
}

.hero-about {
  margin-top: 25px;
}

.projects-title,
.work-title,
.education-title {
  margin-top: 40px;
}

.projects-list,
.work-list,
.education-list {
  margin-top: 15px;
}

.projects-item:not(:first-child),
.work-list-item:not(:first-child) {
  margin-top: 10px;
}

.projects-link,
.projects-link-git,
.work-position,
.work-company,
.education-name {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--first-color);
}

.projects-stack,
.projects-description,
.responsibilities-item,
.work-achievment {
  text-decoration: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--second-color);
}

.projects-stack::before {
  content: ' [ ';
  font-weight: 700;
  color: var(--first-color);
}

.projects-stack::after {
  content: ' ]';
  font-weight: 700;
  color: var(--first-color);
}

.work-company,
.education-name {
  color: var(--fourth-color);
}

.work-position {
  margin-bottom: 5px;
}

.responsibilities-item {
  margin-top: 10px;
  color: var(--fourth-color);
}

.responsibilities-text {
  color: var(--second-color);
}

.work-date,
.education-date {
  font-size: 12px;
  line-height: 1.25;
  color: #a8a8a8;
}

.education-item:not(:first-child) {
  margin-top: 10px;
}

.education-position {
  margin-top: 10px;
}

.education-position {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
}
